<div id="<%= dom_id cliente %>" class="design-info">
  <p>
    <strong>NOME:</strong>
    <%= cliente.nome %>
  </p>

  <p>
    <strong>TELEFONE:</strong>
    <%= cliente.telefone %>
  </p>
  <p>
    <strong>CPF:</strong>
    <%= cliente.cpf %>
  </p>

  <p>
    <strong>RG:</strong>
    <%= cliente.rg %>
  </p>

    <%= link_to "Editar", edit_cliente_path(cliente), class: "btn btn-primary" %>
    <%= button_to "Deletar", cliente, method: :delete, class: "btn btn-danger mt-1 " %> 

</div>
