<div id="<%= dom_id part %>" class="design-info">
  <p>
    <strong>Nome:</strong>
    <%= part.nome %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= part.quantidade %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= part.preco %>
  </p>

  <%= link_to "Editar", edit_part_path(part), class: "btn btn-primary" %>
  <%= button_to "Deletar", part, method: :delete, class: "btn btn-danger mt-1 " %>

</div>
