<div class="design">
<p style="color: green"><%= notice %></p>

<%= render @part %>

<div>
<button type="submit">
  <%= link_to "Edit this part", edit_part_path(@part) %> |
</button>
<button type="submit">
  <%= link_to "Back to parts", parts_path %>
</button>

  <%= button_to "Destroy this part", @part, method: :delete %>
</div>
</div>