<div id="<%= dom_id equipe %>" class="design-info">

  <p>
    <strong>Nome:</strong>
    <%= equipe.nome %>
  </p>

  <p>
    <strong>FUNCIONÁRIOS:</strong>
    <ul>
      <% equipe.funcionarios.each do |funcionario| %>
          <li><%= funcionario.nome %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>DESCRIÇÃO</strong>
    <%= equipe.descricao %>
  </p>

  <%= link_to "Editar", edit_equipe_path(equipe), class: "btn btn-primary" %>
  <%= button_to "Deletar", equipe, method: :delete, class: "btn btn-danger mt-1 " %> 
      
</div>
