<div class="design">
<p style="color: green"><%= notice %></p>

<%= render @servico %>

<div>
  <button type="submit">
    <%= link_to "Edit this servico", edit_servico_path(@servico) %>
  </button>
  <button type="submit">
    <%= link_to "Back to servicos", servicos_path %>
  </button>

  <%= button_to "Destroy this servico", @servico, method: :delete %>
</div>
</div>