<h1>DASHBOARD</h1>


<%= link_to "clientes", clientes_path %>
<%=  link_to "veiculos", veiculos_path %>
<%= link_to "serviços", servicos_path %>
<%= link_to "peças", parts_path %>
<%= link_to "funcionários", funcionarios_path %>
<%= link_to "equipes", equipes_path %>

<p>Total de peças em estoque: <%= @quantidade_em_estoque %> </p>

