<div id="<%= dom_id ordem_servico %>"  class="design-info">

  <p>
    <strong>Cliente:</strong>
    <%= ordem_servico.cliente.nome %>
  </p>

  <p>
    <strong>Veiculo:</strong>
    <%= ordem_servico.veiculo.modelo %>
  </p>

  <p>
    <strong>Equipe:</strong>
    <%= ordem_servico.equipe.nome %>
  </p>

  <p>
  <strong>Data de Criação:</strong>
  <%= ordem_servico.created_at %>
  </p>

  <p>
    <strong>Conclusao:</strong>
    <%= ordem_servico.conclusao %>
  </p>

  <p>
    <strong>Peça:</strong>
    <%= ordem_servico.part.nome %>
  </p>

  <p>
    <strong>Servico:</strong>
    <%= ordem_servico.servico.nome %>
  </p>

  <p>
  <strong>Valor Total:</strong>
    <%= ordem_servico.valor_total %>
  </p>


  
  <%= link_to "Editar", edit_ordem_servico_path(ordem_servico), class: "btn btn-primary" %>
  <%= button_to "Deletar", ordem_servico, method: :delete, class: "btn btn-danger mt-1 " %>

</div>
