<div class="design">
<p style="color: green"><%= notice %></p>

<%= render @funcionario %>

<div>
<button type="submit">
  <%= link_to "Editar", edit_funcionario_path(@funcionario) %> 
</button>
<button type="submit">
  <%= link_to "Voltar", funcionarios_path %>
</button>

  <%= button_to "Excluir", @funcionario, method: :delete %>

</div>
</div>